<!---->
 <nav class="navbar navbar-expand-lg  fixed-top d-flex" >
  <div class="container-fluid">
    <a class="navbar-brand text-info fs-2 " style="margin-left:2.5rem" href="#">SHOP<span style="color:red">mart</span></a>
    <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2   mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary active mx-3" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-primary active mx-3 " aria-current="page" href="#">Parent Country: <i class="fa-solid fa-location-dot text-light"></i><span class="text-danger"> USA</span> </a>
          </li>
        <li class="nav-item ">
            <a class="nav-link text-primary active mx-3 " aria-current="page" href="#">Delivery Available: <i class="fa-solid fa-location-dot text-light"></i><span style="color:orange"> INDIA</span> </a>
          </li>

        
        <li class="nav-item">
            <i class="nav-link text-light active " class="fas fa-shopping-cart" routerLink="cart-page" style="color:yellow;margin:15px;cursor:pointer;">&nbsp;: {{cartitems}}</i>
        
        </li>
        
        
      </ul>
      
    </div>
  </div>
  
 </nav>


  