<!---->
 <nav class="navbar navbar-expand-lg  fixed-top d-flex  " style="height:5rem" >
  <div class="container-fluid  " >
    <!--<button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>-->
    <a class="navbar-brand text-info fs-2    hover " routerLink="/" style="margin-left:1.5rem" href="#">SHOP<span style="color:red">mart</span></a>
    <div><i class="nav-link text-warning active   hover " class="fas fa-shopping-cart  text-warning hover mt-4 py-3" routerLink="cart-page" style="margin:15px;cursor:pointer;">&nbsp;: {{cartitems}}</i>
    </div>  
    <!--<div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2   mb-lg-0">
        
        
            <li class="nav-item">
                <a class="nav-link text-warning active mt-4  hover" aria-current="page" routerLink="">Language <br><strong>English</strong></a>
              </li> 
        <li class="nav-item">
          <a class="nav-link text-warning active mt-4  hover " aria-current="page" routerLink="/">Go to <br> <strong>Home</strong></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-warning active mt-4  hover " aria-current="page" href="#">Parent Country: <br> <i class="fa-solid fa-location-dot text-light"></i><span class="text-danger"> USA</span> </a>
          </li>
        <li class="nav-item ">
            <a class="nav-link text-warning active mt-4  hover " aria-current="page" href="#">Delivery Available: <br> <i class="fa-solid fa-location-dot text-light"></i><span style="background-image: linear-gradient(to right, orange, white,green);"> INDIA</span> </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-warning active mt-4  hover " aria-current="page" routerLink="">Return <br><strong>& Order</strong></a>
            </li>

        
        <li class="nav-item">
          
        </li>

        
        
      </ul>
      
    </div>-->
    

       
  </div>
 
 </nav>


  