<div class="card container " style="margin-top:55px">
  <div class="row">
    <div class="col-sm-12 col-12  s1"  style="height:200px;;background:white;">
      <img class="img" style="width:100px;height:100px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAIClLAy_95k0lnsJPztgXtUckJaWDDAAA6A&s" alt="">
    <h2 class="order">Order has Placed Successfully</h2>
    <strong >Thankyou for Shopping with Shopimart</strong>
    <h5 style="color:green">Kindly Pay Amount <strong style="color:blue">${{totalamount}}</strong>on delivery</h5>
  </div>
</div>


