<!--carousel-->

<div style="background:black;margin-top:55px">
<div id="carouselExample" class="carousel slide pt-3">
        <div class="carousel-inner">
          <div class="carousel-item  active">
            <img src="hero_image.jpg" class="d-block  w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="hero_image1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="hero_image2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="hero_image3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="hero_image4.jpg" class="d-block w-100" alt="...">
              </div> 
              <div class="carousel-item">
                  <img src="hero_image5.jpg" class="d-block w-100" alt="...">
                </div>     
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!--Product display part-->
<div class="container-fluid" style="background-color:black">
    <div class="row p-1" >
        <div class="col-md-4 col-sm-6 col-12 col-lg-3 mt-3" *ngFor="let item of data?.products">
             <div class="card mt-2">
                 <div class="card-body">
                     <div class="card-img-actions">
                         <img style="display: block;margin-left: auto;margin-right: auto;
                         width: 50%;" routerLink="/product-detail/{{item.id}}" src="{{item.thumbnail}}" class="card-img img-fluid" alt="">
                     </div>
                 </div>
                 <div class="card-body bg-light text-center">
                     <div>
                         <h6 class="font-weight-semibold">
                             <a href="" class="text-default">{{item.title}}</a>
                         </h6>
                     </div>
                     <h3 class="mb-0 font-weight-semibold">${{item.price}}</h3>
                     <button routerLink="/product-detail/{{item.id}}"class="btn btn-sm mt-2 btn-dark"> <i class="fa fa-solid fa-info mr-2"></i>&nbsp;&nbsp; View details</button>&nbsp;
                     <button (click)="addtocart(item)" class="btn btn-sm mt-2 btn-warning"><i class="fa fa-cart-plus mr-2"></i>&nbsp;Add to Cart</button>&nbsp;
                     <button (click)="removeitem(item)" class="btn btn-sm mt-2 btn-danger"><i class="fa fa-remove mr-2"></i>&nbsp;Remove Item</button>&nbsp;
                 </div>
             </div>
        </div>
    
    </div>
</div>

<!--footer-->
<footer>
        <div class="footer-pannel3 ">
          
             
              <div class="copyright text-info ">
                      <div ><a class="text-info"href="">© 1996-2025,</a>&nbsp;</div>
                      <div > <a class="text-info" href="">Shopmart.com,</a>&nbsp; </div>
                      <div ><a class="text-info" href="">Inc. or its affiliate</a>&nbsp;</div>
                    </div>
            
            </div>
</footer>
